@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LINESeedKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;

}
body {
  font-family: "LINESeedKR"
}
